*{
  margin :0;
  padding : 0;
  box-sizing:border-box;
}

html,
body{
  background: linear-gradient(rgb(240, 232, 232), #2092df);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
